.badgeStyle {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  color: white;
  background-color: #cf2c47;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}

.tooltipContainer {
  position: relative;
}

.tooltip {
  visibility: hidden;
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 5px 8px;
  border-radius: 4px;
  font-size: 10px;
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  white-space: nowrap;

  border: 1px solid #ccc;
}

.tooltip::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.tooltipContainer:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
